@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');


@font-face {
  font-family: 'PP Formula Compressed';
  /* src: url('/fonts/PPFormulaCondensedBlack.woff') format('woff'); */
  src: url('../pages/fonts/PPFormulaCondensedBlack.woff') format('woff');
  font-weight: 900; /* Adjust weight if necessary */
  font-style: normal; /* Adjust style if necessary */
}
/* @font-face {
  font-family: 'PP Formula Extended';
  src: url('/fonts/PPFormula-ExtendedMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */
/* @font-face {
  font-family: 'PP Formula';
  src: url('../pages/fonts/PPFormulaExtrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'PP Formula';
  src: url('../pages/fonts/PPFormulaMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  scroll-behavior: smooth;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: var(--font-rockSalt); */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body ,p ,ul {
  /* font-family: var(--font-rockSalt); */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'PP Formula';
  font-weight: bold;/* Adjust weight if necessary */
  letter-spacing: 0.03em;
  font-style: normal; /* Adjust style if necessary */
}
/* Add this to your global CSS or a specific stylesheet */
html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.wow-container {
  background: transparent;
  height: 400rem;
  width: 400rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.wow-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



@keyframes scrollContent {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

.scrolling-div {
  height: 100%;
  overflow: hidden;
  animation: scrollContent 10s linear infinite; /* Adjust duration */
}

@keyframes scrollY {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-200%);
  }
}


.read-more-btn {
  border: 1px solid #E8E5D8;
  display: inline-block;
  background: #F1F0EC;
  box-shadow: 
    2.5px 2.5px 1px 0px #FFFFFF99 inset,
    -2.5px -2.5px 1px 0px #FFFFFF99 inset;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
  padding: 11px 24px;
  text-decoration: none; /* Remove default underline */
  display: inline-block; /* Ensure proper padding and alignment */
  border-radius: 4px; /* Optional: add rounded corners */
  cursor: pointer; /* Make it look like a button */
}

.read-more-btn:hover {
  background: #E8E5D8; /* Optional: slightly darker on hover */
  color: #333; /* Optional: darker text color on hover */
}
.about-wall .read-more-btn {
  margin-top: 10px;
}
.about-wall h2{
  color: #000;
}


.banner-txt p {
  font-family: "Rock Salt", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  /* line-height: 31px; */
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.banner-txt {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hello-img{
  text-align: right;
  max-width: 100px;
  margin: -20px auto;
}
.work-wall-text{
  max-width: 400px;
  max-width: 300px;
}
.work-wall-text h2{
  line-height: 1.2;
}
.work-wall-text p{
  line-height: 1.4;
}
.work-wall-text p{
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}



.service-text-row {
  display: flex;
  min-width: 200rem;
  /* width: 100%; */
}
.service-text-row .service-text-col {
  flex: 1;
}
.service-text-row {
  display: flex;
  min-width: 145rem;
  gap: 40px;
}
.service-text-row .service-text-col {
  flex: 1;
}

.about-wall.work-wall-text.work-txt-wal p{
  font-size: 1.15vw;
}
.about-wall.work-wall-text.work-txt-wal h2{
  font-size: 1.25vw !important;
}

/* contact form css */

.contact-form form input ,.contact-form form textarea {
  border: 1px solid #00000026;
  background: transparent;
  border-radius: 5px;
}
.contact-form form label {
  margin-bottom: 0px;
}
.contact-form form button.read-more-btn {
  background: #000;
  color: #fff;
  box-shadow: none;
  border-radius: 5px;
  margin-top: 15px;
}
.contact-form form input:focus-visible, .contact-form form textarea:focus-visible {
  outline: none;
}

.about-wall-text.about-wall h2{
  font-size: 2.35vw!important;
}

.about-wall-text.about-wall p{
  font-size: 1.05vw!important;
}


@media screen and (min-width: 1600px) {
/* .about-wall.work-wall-text.work-txt-wal{
  transform: translate(-60%, -50%) !important;
} */
/* .about-wall.work-wall-text.work-txt-wal{
  max-width: 17rem;
} */
.work-wall-text {
  max-width: 370px;
}
.about-wall.work-wall-text.service-text-row{
  min-width: 175rem;
}
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .about-wall.work-wall-text.work-txt-wal{
    max-width: 18rem;
  }
  .service-text-row .service-text-col h2{
    font-size: 1.25vw!important;
    line-height: 1.3;
  }
  .service-text-row .service-text-col p{
    font-size: 1.05vw !important;
    line-height: 1.5;
  }
  .service-text-row {
    display: flex;
    min-width: 130rem;
    gap: 20px;
    transform: translate(-35rem, -50%) !important;
}
  }

  @media screen and (min-width: 1100px) and (max-width: 1400px) {
    .about-wall.work-wall-text.work-txt-wal{
      max-width: 15rem;
    }
    .service-text-row .service-text-col h2{
      font-size: 1.6vw!important;
      line-height: 1.3;
    }
    .service-text-row .service-text-col p{
      font-size: 0.97vw !important;
      line-height: 1.5;
    }
    .service-text-row {
      display: flex;
      min-width: 135rem;
      gap: 20px;
      transform: translate(-35rem, -50%) !important;
  }
  .service-text-row .service-text-col h2{
    margin-top: 0 !important;
  }
    }

    @media screen and (max-width: 1100px) {
      .about-wall-text.about-wall h2 {
        font-size: 40px !important;
    }
    
    .about-wall-text.about-wall p {
        font-size: 22px !important;
    }  
    .about-wall.work-wall-text.work-txt-wal h2 {
        font-size: 30px !important;
    }  
    .about-wall.work-wall-text.work-txt-wal p {
        font-size: 18px !important;
    }  
    .about-wall.work-wall-text.work-txt-wal {
        max-width: 300px;
    }  
    .about-wall.work-wall-text.service-text-row {
        min-width: 160rem;
        transform: translate(-34rem, -50%) !important;
        gap: 50px;          
    }  
    .about-wall.work-wall-text.service-text-row h2 {
        font-size: 30px !important;
    }  
    .about-wall.work-wall-text.service-text-row p {
        font-size: 18px;
    }
      .about-wall.work-wall-text.service-text-row h5 {
        font-size: 18px;
    }
  }

    @media screen and (max-width: 991px) {
    .about-wall-text.about-wall h2 {
      font-size: 34px !important;
  }
  
  .about-wall-text.about-wall p {
      font-size: 18px !important;
  }  
  .about-wall.work-wall-text.work-txt-wal h2 {
      font-size: 24px !important;
  }  
  .about-wall.work-wall-text.work-txt-wal p {
      font-size: 16px !important;
  }  
  .about-wall.work-wall-text.work-txt-wal {
      max-width: 300px;
  }  
  .about-wall.work-wall-text.service-text-row {
      min-width: 160rem;
      transform: translate(-34rem, -50%) !important;
      gap: 50px;          
  }  
  .about-wall.work-wall-text.service-text-row h2 {
      font-size: 28px !important;
  }  
  .about-wall.work-wall-text.service-text-row p {
      font-size: 16px;
  }
    .about-wall.work-wall-text.service-text-row h5 {
      font-size: 16px;
  }
}


@media screen and (max-width:390px) {
.about-wall.work-wall-text.service-text-row {
  min-width: 160rem;
  transform: translate(-40rem, -50%) !important;
  gap: 50px;          
} 
}







