@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body ,p ,ul {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Add this to your global CSS or a specific stylesheet */
html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.wow-container {
  background: transparent;
  height: 400rem;
  width: 400rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.wow-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



@keyframes scrollContent {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

.scrolling-div {
  height: 100%;
  overflow: hidden;
  animation: scrollContent 10s linear infinite; /* Adjust duration */
}

@keyframes scrollY {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-200%);
  }
}


.read-more-btn {
  border: 1px solid #E8E5D8;
  display: inline-block;
  background: #F1F0EC;
  box-shadow: 
    2.5px 2.5px 1px 0px #FFFFFF99 inset,
    -2.5px -2.5px 1px 0px #FFFFFF99 inset;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
  padding: 11px 24px;
  text-decoration: none; /* Remove default underline */
  display: inline-block; /* Ensure proper padding and alignment */
  border-radius: 4px; /* Optional: add rounded corners */
  cursor: pointer; /* Make it look like a button */
}

.read-more-btn:hover {
  background: #E8E5D8; /* Optional: slightly darker on hover */
  color: #333; /* Optional: darker text color on hover */
}
.about-wall .read-more-btn {
  margin-top: 40px;
}
.about-wall h2{
  font-weight: 700;
}


.banner-txt p {
  font-family: "Rock Salt", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  /* line-height: 31px; */
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.banner-txt {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hello-img{
  text-align: right;
  max-width: 100px;
  margin: auto;
}
.work-wall-text{
  max-width: 300px;
}
.work-wall-text h2{
  line-height: 1.2;
}
.work-wall-text p{
  line-height: 1.4;
}
.work-wall-text p{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}



.service-text-row {
  display: flex;
  /* width: 100%; */
}
.service-text-row .service-text-col {
  flex: 1;
}
.service-text-row {
  display: flex;
  min-width: 200rem;
  gap: 10px;
}
.service-text-row .service-text-col {
  flex: 1;
}