/* inner pages css start here */


/* global css start here */


.py_120 {
    padding: 120px 0px;
  }
  .pb_120{
    padding-bottom: 120px;
  }
  .pb_100{
    padding-bottom: 100px;
  }
  .py_100{
    padding: 100px 0;
  }
  
  /* div a{
    text-decoration: none;
  } */
  .cta {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: #000000;
    color: #fff;
    padding: 11px 24.5px;
    display: inline-block;
    max-width: 100%;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .cta:hover {
    color: #FFDCBF;
  
  }
  
  .bg-brown {
    background-color: #fff8f2 !important;
  }
  
  
  
  /* banner sec css start here */
  
  .banner-info-2 a {
    text-decoration: none;
    color: black;
  }
  .banner-info-part-1 {
    display: flex;
    justify-content: start;
    gap: 9px;
  }
  .banner-info-2 span.Services {
    color: #F7892F;
  }
  .banner-info-part-2 {
    font-family: Rock Salt;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.03em;
    max-width: 443.47px;
  }
  .banner-part-3 {
    max-width: 1244px;
  }
  .banner-part-4 {
    border-top: 1px solid #0000004D;
    padding: 40px 0px;
  }
  .banner-inner-text {
    max-width: 673px;
  }
  
  
  
  /* section laptop-video */
  
  .laptop-img {
    padding: 85px 0px;
  }
  
  
/* dummy-design css */

  .dummy-text-1 {
    max-width: 628px;
    font-family: "Rock Salt", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-align: left;
}

.dummy-text-2 {
    /* max-width: 530px; */
}

.dummy-text-3 {
    max-width: 491px;
}

.dummy {
    z-index: 1;
}

.img-dummy-bg {
    max-width: 804px;
    height: 804px;
    background: #FFDCBF;
    box-shadow: 0px 0px 30px 0px #0000001F inset;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-dummy-img {
    max-width: 711.52px;
}

.dummy-text-4 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.dummy-text-4 span.arrow {
    border-radius: 5px;
    border: 1px solid black;
    padding: 12px 17px;
    margin-right: 14px;
}



/* we-work module */
.we-work {
  /* background-color: #fff8f2; */
}

.inner-work-t {
  max-width: 1100px;
}
.brdr {
  border-bottom: 1px solid #0000004D
}
.inner-para {
  max-width: 583px;
  margin-top: 40px;
}
